body{
    /* to bring the content to center of page */
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image:url("https://images.unsplash.com/photo-1532274402911-5a369e4c4bb5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    /* to bring the bg to fix fully on screen */
    background-size: cover;
    overflow: hidden;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: white;
    
}

.Clock{
    /* bring all div item to horizontal */
    display: flex;
    
}

.Clock div{
    margin: 5px;
    position: relative;
}

.Clock span{
  width: 100px;
  height: 80px;
  background-color: slateblue;
  opacity: 0.8;
  color: white;
  
  /* to bring item to center */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  /* to bring shadow at backside */
  text-shadow: 2px 2px 4px;
}
.Clock .text{

    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkblue;
    opacity: 0.8;
}

.Clock #Ampm{
    bottom: 0;
    /* To bring the am to bottom by setting position .clock to relative */
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: green;
}





















